.symbolGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.symbolGrid > .selectableContainer {
  transition: transform 0.5s;
}

.symbolGrid__symbolSelected .selectableContainer {
  transform: scale(0.96);
}

.symbolGrid__symbolSelected .selectableContainer__selected {
  transform: scale(1.03);
}

.symbolGrid__hideCardInfo .symbolCard > .listItem {
  display: none;
}

