.shadowContainer {
  --priceUpColor: #87BE89;
  --priceDownColor: #E68E88;
  --shadowColor: transparent;
  --glowEffectColor: transparent;
  --selectedColor: grey;
  position: relative;
  background: var(--colorWhite);
  border-radius: 5px;
  width: 100%;
  height: 100%;
}

.shadowContainer::after {
  content: "";
  display: block;
  position: absolute;
  width: calc(100% + 3px);
  height: calc(100% + 3px);
  top: 0;
  left: 0;
  filter: blur(7px);
  background-color: var(--shadowColor);
  transition: background-color 0.3s;
  z-index: -1;
}

.shadowContainer__selected::after {
  --shadowColor: var(--selectedColor);
}

.shadowContainer__priceUp::after {
  --glowEffectColor: var(--priceUpColor);
  animation: glow 2s linear both;
}

.shadowContainer__priceDown::after {
  --glowEffectColor: var(--priceDownColor);
  animation: glow 2s linear both;
}

@keyframes glow {
  0% {
    background-color: var(--shadowColor);
  }
  20% {
    background-color: var(--glowEffectColor);
  }
  80% {
    background-color: var(--glowEffectColor);
  }
  100% {
    background-color: var(--shadowColor);
  }
}